{{#each this}}
<h2 class="title-country">{{name}}</h2>
<div class="js-conuntry-container">
    <div class="container-country">
        <p class="container-text-country">Capital: <span class="text-country">{{capital}}</span></p>
        <p class="container-text-country">Population: <span class="text-country"> {{population}}</span></p>
        <p class="container-text-country">Language:</p>
        <ul>
            {{#each languages}}
            <li class="text-country">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="flag-country">
        <img width="600" height="240" class="flag" src="{{flag}}" alt="flag" >
    </div>
</div>
{{/each}}